@page

<div class="text-center">
    <div class="display-6">
        Contact
    </div>
    <div class="lead">
        <i class="fa fa-phone"></i>
        <p>0216 000 11 22</p>
    </div>
    <div class="lead">
        <i class="fa fa-address-book"></i>
        <p>Istanbul/Turkey</p>
    </div>
    <div class="lead">
        <i class="fa-solid fa-envelope"></i>
        <p>test@gmail.com</p>
    </div>
</div>
